MNEMONIC=east bike lab blob surround slow poke talk more with me dude
JWT_SECRET=dev_secret_123
CONTRACT_ADDRESS=0xcE42EE212312312359411f01239971b9E90
URL=https://eth-mainnet.alchemyapi.io/v2/123123123123123123M
